body {
    background-color: #8EB8CB;
    font-family: Sora;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

p {
    font-size: 40px;
    font-family: 'Source Serif 4';
    color:black;
}

h1 {
    font-size: 56px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    color: black;
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50px;
    border: 10px solid #597A88;
    margin: 50px;
}