.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D1E7F0;
    font-family: 'Source Serif 4';
    color: #597A88;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    padding: 30px;
}

.button:hover {
    background-color: #C9B8E5;
    border-color: #A08AC3;
    color: #8871AD;
}

.button.raised {
    background-color: #C9B8E5;
    border-color: #A08AC3;
    color: #8871AD;
}

.small {
    border: 10px solid #597A88;
    border-radius: 100px;
    padding: 8px 16px;
    font-size: 40px;
    height: 150px;
    width: 500px;
}

.large {
    border: 15px solid #597A88;
    border-radius: 55px;
    height: 500px;
    width: 400px;
    font-size: 36px;
}