body {
    background-color: #8EB8CB;
    font-family: Sora;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

p {
    font-size: 40px;
    font-family: 'Source Serif 4';
    color: black;
}

h1 {
    font-size: 56px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    color: black;
    margin: 0px;
    padding: 0px;
}

.img-qr {
    border-radius: 50px;
    border: 10px solid #597A88;
    margin: 50px;
    width: '300px';
    height: '300px';
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.divider {
    width: 20px;
    height: 500px;
    background: #597A88;
    border-radius: 10px;
    margin: 150px;
}

.help-text {
    position: absolute;
    width: 225px;
    height: 66px;
    left: 1250px;
    top: 50px;
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: right;
    color: #000000;
}

/* nawal's CSS comments, ignore for now
flex: none;
order: 0;
flex-grow: 0;

Vector

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


raise both hands for help!

position: absolute;
width: 175px;
height: 66px;
left: 1076px;
top: 96px;

font-family: 'Source Serif 4';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 33px;
text-align: right;

color: #000000; */
