/* Roadmap One */

position: relative;
width: 1280px;
height: 720px;

background: #8EB8CB;


/* i am looking for... */

position: absolute;
width: 640px;
height: 119px;
left: 320px;
top: 52px;

font-family: 'Sora';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
text-align: center;

color: #FFFFFF;



/* Rectangle 29 */

position: absolute;
width: 16px;
height: 466px;
left: calc(50% - 16px/2);
top: 182px;

background: #597A88;
border-radius: 10px;


/* Group 6 */

position: absolute;
width: 391.34px;
height: 491.62px;
left: 753px;
top: 169px;



/* Button 1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 300px 31px 47px;
gap: 30px;

position: absolute;
width: 391.34px;
height: 491.62px;
left: 753px;
top: 169px;

background: #D1E7F0;
border: 15px solid #597A88;
border-radius: 30px;


/* text */

width: 269px;
height: 80px;

font-family: 'Source Serif 4';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
text-align: center;

color: #597A88;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* human-brain 3 */

position: absolute;
width: 183px;
height: 183px;
left: 857px;
top: 243px;

background: url(mental-health.png);


/* Group 5 */

position: absolute;
width: 391.34px;
height: 491.62px;
left: 146px;
top: 169px;



/* Button 1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 300px 31px 47px;
gap: 30px;

position: absolute;
width: 391.34px;
height: 491.62px;
left: 146px;
top: 169px;

background: #D1E7F0;
border: 15px solid #597A88;
border-radius: 30px;


/* text */

width: 269px;
height: 80px;

font-family: 'Source Serif 4';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
text-align: center;

color: #597A88;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* human-brain 4 */

position: absolute;
width: 212px;
height: 211px;
left: 232px;
top: 227px;

background: url(human-brain.png);


/* Group 11 */

position: absolute;
width: 181px;
height: 144px;
left: 1076px;
top: 18px;



/* help_FILL0_wght400_GRAD0_opsz24 1 */

position: absolute;
width: 78px;
height: 78px;
left: 1179px;
top: 18px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #000000;


/* raise both hands for help! */

position: absolute;
width: 175px;
height: 66px;
left: 1076px;
top: 96px;

font-family: 'Source Serif 4';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 33px;
text-align: right;

color: #000000;

